include build/project.pug

-
  const IMG_PATH = "img/drivers/";
  const FILE_PATH = "files/drivers/";

  let drivers = [
    {
      img: IMG_PATH + "driver_icon.png",
      name: "Драйвера для Windows XP (32 и 64-битная система) для Rabbit N серии",
      file_path: FILE_PATH + "xp_usb_n.rar"
    },
    {
      img: IMG_PATH + "driver_icon.png",
      name: "Драйвера для Windows 7 (32 и 64-битная система) для Rabbit K серии",
      file_path: FILE_PATH + "win7_usb.rar"
    },
    {
      img: IMG_PATH + "driver_icon.png",
      name: "Драйвера для Windows XP (32 и 64-битная система) для Rabbit K серии",
      file_path: FILE_PATH + "xp_usb.rar"
    },
    {
      img: IMG_PATH + "driver_icon.png",
      name: "Драйвера для Windows 7 (32-битная система) для Rabbit N серии",
      file_path: FILE_PATH + "driver_for_n_g_winxp_win7_32.zip"
    },
    {
      img: IMG_PATH + "driver_icon.png",
      name: "Плагин KX BAR",
      file_path: "https://disk.yandex.ru/d/ZYj_ZPSoWELsfQ",
      new_window: true
    },
    {
      img: IMG_PATH + "driver_icon.png",
      name: "Программа CutToolCDR-LAS-9.3 для плоттера K3",
      file_path: "https://disk.yandex.ru/d/kUtV9sp96guLPA",
      new_window: true
    },
    {
      img: IMG_PATH + "driver_icon.png",
      name: "Программа CutToolCDR-Multi-9.7 для плоттера K3",
      file_path: "https://disk.yandex.ru/d/KsvrWu_FUcFVbw",
      new_window: true
    },
    {
      img: IMG_PATH + "driver_icon.png",
      name: "Плагин KX-CUT",
      file_path: "https://disk.yandex.ru/d/WLA26ougnWGwKw",
      new_window: true
    },
    {
      img: IMG_PATH + "driver_icon.png",
      name: "USB-драйвер для программы ArtCut",
      file_path: "https://disk.yandex.ru/d/h4q7fhq3cS6urQ",
      new_window: true
    },
    {
      img: IMG_PATH + "driver_icon.png",
      name: "Программа CutToolCDR-CUT-9.4 для плоттера NX",
      file_path: FILE_PATH + "CutToolCDR-CUT-9.4 for NX Plotter.zip",
    },
    {
      img: IMG_PATH + "driver_icon.png",
      name: "Драйвера для Windows 7 (64-битная система) для Rabbit N серии",
      file_path: FILE_PATH + "driver_for_n_g_win7_64.zip"
    },
    {
      img: IMG_PATH + "driver_icon.png",
      name: "USB-драйвер для режущих плоттеров Rabbit",
      file_path: FILE_PATH + "Rabbit USB Driver for Cutting Plotter.rar"
    },
    {
      img: IMG_PATH + "driver_icon.png",
      name: "Virtual COM Port Driver",
      file_path: FILE_PATH + "Virtual COM Port Driver.zip"
    },
  ];

+page("Драйвера для плоттеров", 2)
  +files-list(drivers)
