include build/project.pug

-
  const IMG_PATH = "img/plotters/";
  let plotters = [
    {
      name: "Режущие плоттеры Jinka",
      img: IMG_PATH + "jinka.jpg",
      link: "jinka.html"
    },
    {
      name: "Режущие плоттеры Rabbit N",
      img: IMG_PATH + "rabbit_n.jpg",
      link: "rabbit_n.html"
    },
    {
      name: "Режущие плоттеры с контурной резкой Rabbit K",
      img: IMG_PATH + "rabbit_k.jpg",
      link: "rabbit_k.html"
    },
    {
      name: "Фрезерные станки",
      img: IMG_PATH + "frayser.jpg",
      link: "frayser.html"
    },
    {
      name: "Комплектующие и оборудование",
      img: IMG_PATH + "accessories.jpg",
      link: "accessories.html",
    },
  ];

  let classNames = {
    item: "plotters__item",
    img: "plotters__item-img",
    h2: "plotters__item-title"
  };

+page("Плоттеры, станки, комплектующие в России", 0)
  ul.goods-categories
    +goods-categories(plotters)