include build/project.pug

-
  const IMG_PATH = "img/instructions/";
  const FILE_PATH = "files/instructions/";

  let instructions = [
    {
      img: IMG_PATH + "instruction_icon.png",
      name: "CutToolCDR - Инструкция",
      file_path: FILE_PATH + "CutToolCDR - Инструкция.doc"
    },
    {
      img: IMG_PATH + "instruction_icon.png",
      name: "Rabbit на русском",
      file_path: FILE_PATH + "Rabbit на русском.doc"
    },
    {
      img: IMG_PATH + "instruction_icon.png",
      name: "Инструкция по работе с плоттером серии K3",
      file_path: FILE_PATH + "Инструкция по работе с плоттером серии K3.pdf"
    },
    {
      img: IMG_PATH + "instruction_icon.png",
      name: "Инструкция по режущему плоттеру",
      file_path: FILE_PATH + "Инструкция по режущему плоттеру.pdf"
    },
    {
      img: IMG_PATH + "instruction_icon.png",
      name: "Настройка лазерного сканирования плоттера серии K3",
      file_path: FILE_PATH + "Настройка лазерного сканирования плоттера серии K3.pdf"
    },
  ];

+page("Инструкции для плоттеров", 4)
  +files-list(instructions)