include build/project.pug

-
  const IMG_PATH = "img/instructions/";
  const FILE_PATH = "files/instructions/";

  let instructions = [
    {
      img: IMG_PATH + "instruction_icon.png",
      name: "Инструкция к режущему плоттеру Rabbit N серии",
      file_path: FILE_PATH + "plotter_n.rar"
    },
    {
      img: IMG_PATH + "instruction_icon.png",
      name: "Инструкция к режущему плоттеру Rabbit K серии",
      file_path: FILE_PATH + "plotter_k.rar"
    },
    {
      img: IMG_PATH + "instruction_icon.png",
      name: "Контурная резка через Flexi 10 режущего плоттера Rabbit K серии",
      file_path: FILE_PATH + "Контурная резка через Flexi 10 режущего плоттера Rabbit K серии.docx"
    },
    {
      img: IMG_PATH + "instruction_icon.png",
      name: "Контурная резка через Flexi 10 режущего плоттера Rabbit K серии",
      file_path: FILE_PATH + "usb_help.rar"
    },
  ];

+page("Инструкции для плоттеров", 4)
  +files-list(instructions)