include build/project.pug

-
  const IMG_PATH = "img/plotters/rabbit_k/";
  let goods = [
    {
      name: "Rabbit HX 800K",
      price: "под заказ",
      img: IMG_PATH + "rabbit_hx_800k.webp",
      status: ""
    },
    {
      name: "Rabbit HX 1120K",
      price: "Flexi Starter: под заказ<br>Corel Draw: 40 500 р.",
      img: IMG_PATH + "rabbit_hx_1120k.webp",
      status: ""
    },
    {
      name: "Rabbit HX 1360K",
      price: "Flexi Starter: 44 500 р.<br>Corel Draw: 42 500 р.",
      img: IMG_PATH + "rabbit_hx_1360k.webp",
      status: ""
    },
    {
      name: "Rabbit HX 1780K",
      price: "Flexi Starter: 54 500 р.<br>Corel Draw: под заказ",
      img: IMG_PATH + "rabbit_hx_1780k.webp",
      status: ""
    },
  ];

+page("Режущие плоттеры Rabbit K", 0)
  ul.goods-list
    +goods-list(goods)
  .content-text
    h2 Режущий плоттер с оптическим датчиком -  резка по меткам
    p Резка по меткам - это дополнительная опция режущего плоттера  серии Rabbit K. Суть ее заключается в том, что плоттер может вырезать напечатанное изображение. Чтобы он распознал изображение, в него встроен оптический датчик. Например, нужно сделать магниты на холодильник. Для этого, например на магнитном виниле печатается картинка. По углам картинки ставятся метки. Винил вставляется в плоттер. Плоттер с помощью оптического датчика распознает метки и уже относительно этих меток вырезает картинку.  Суть режущего плоттера по меткам заключается в следующем: если напечатать на самоклеющейся пленке полноцвет, потом можно по заранее выполненному контуру и меткам вырезать картинку по заданному контуру. Для этого надо растровую картинку открыть в векторном редакторе, например в CorelDraw, сделать контурную обводку по будущей линии резки и выставить метки по габаритам картинки. Это все скопировать, а потом на одной копии удалить растровую картинку, а на второй - контур резки. В печать запускается картинка. Потом она вставляется в режущий плоттер, он "ловит" габаритные метки и вырезает по контуру.
    h2 Что такое контурная резка?
    p Чтоб было понятно контурная резка - это резка по контуру отпечатанной области.
    p Например у Вас есть распечатанное изображение: например Буква. Она распечатана разными цветами, с Затемнением  и т. д. Но задача состоит в том, что ее надо вырезать, причем аккуратно. Можно постараться вырезать ножницами, острием ножа или другим острым предметом, Но все равно Вы не получите аккуратного среза, делая это в ручную.
    p Вот для таких целей и существует контурная резка. 
    p Смысл таков: Вы распечатываете изображение с метками координат листа. Меткой может служить любой объект. Будь то крестик либо точка. Потом Имея на руках дизайн распечатываемого изображения создается контур резки.
    p Метки совмещаются и Режущий плоттер начинает резать изображение по контуру, который был изготовлен на макете.
    p Таким способом можно аккуратно вырезать лейблы, полноцветные изображения, которые раньше не удавалось вырезать, полноцветные узоры и так далее. Вариантов можно назвать великое множество.
    p Самый известный вариант контурной резки - детская самоклейка с изображениями, где можно снять определенный участок на котором распечатано полноцветное изображение.
    img(src="img/plotters/rabbit_k/flexi_10.webp" width="376" height="279" alt="Диск для установки ArtCut")
