include ../../build/project.pug

-
  const specs = [
    ["Интерфейс", "COM, USB"],
    ["LCD на английском языке", "Да"],
    ["Панель управления", "Английский язык, 9 кнопок"],
    ["Максимальная ширина бумаги, мм", "1120"],
    ["Максимальная ширина резки, мм", "1010"],
    ["Максимальная длина резки, мм", "32000"],
    ["Скорость резки, мм/с (шаг 25)", "25-500"],
    ["Давление резки, гр (шаг 25)", "25-500"],
    ["Повторяемость, мм ", "0,01"],
    ["Шаг движения, мм/шаг", "0,0254"],
    ["Ролик поддержки материала ", "Да"],
    ["Электропитание", "220±10% 50HZ"],
    ["Вес, кг", "23"],
    ["Гарантия", "1 год"],
  ];

+page("Rabbit HX N1120", 0, "../../")
  +specs(specs)