.goods-categories {

  &__item {
    position: relative;
    display: block;
    // display: flex;
    
    align-items: center;
    margin-bottom: 25px;

    text-decoration: none;
    text-transform: uppercase;
    color: #544943;
    font-size: 1.2rem;
    // font-size: 2rem;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    line-height: 1.3;

    border: 1px solid rgba(128, 106, 106, 0.35);

    @media screen and (min-width: $breakpoint-medium) {
      display: flex;
      margin-bottom: 6px;
      
      border: none;
    }

    &::after {
      @media screen and (min-width: $breakpoint-medium) {
        position: absolute;
        content: "";
        width: 100%;
        bottom: -4px;

        border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
        border-top: 1px dashed rgba(0, 0, 0, 0.35);
      }
    }
  }

  &__item-img {
    width: 100%;
    margin-right: 20px;
    object-fit: cover;
    object-position: center;

    border-bottom: 1px solid rgba(128, 106, 106, 0.35);

    @media screen and (min-width: $breakpoint-medium) {
      min-width: 180px;
      width: 180px;
    }
  }

  &__item-title {
    padding: 10px;
    text-align: center;
    // border-right: 1px solid black;

    @media screen and (min-width: $breakpoint-medium) {
      text-align: left;
      font-size: 1.5rem;
    }

    @media screen and (min-width: $breakpoint-large) {
      font-size: 2rem;
    }
  }
}