mixin page(title, activeTab)
  doctype html
  html(lang="ru")
    head
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      title= title
      link(rel="stylesheet", href="styles/reset.css")
      link(rel="stylesheet", href="styles/styles.css")
      link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Exo+2&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    body
      .wrapper
        +page-header()
        +main-menu(activeTab)
        section.content 
          block
        +page-footer(activeTab)