include ../build/project.pug

-
  const IMG_PATH = "img/heat_press/";
  let goods = [
    {
      name: "TH 38 PA",
      price: "под заказ",
      img: IMG_PATH + "th_38_pa.jpg",
      status: "",
      link: "heat_press/th_38_pa.html",
    },
    {
      name: "THJ-38",
      price: "22 600 р.",
      img: IMG_PATH + "thj-38.jpg",
      status: "в наличии",
      link: "heat_press/thj-38.html",
    },
    {
      name: "THJ-45",
      price: "32 500 р.",
      img: IMG_PATH + "thj-45.jpg",
      status: "в наличии",
      link: "heat_press/thj-45.html",
    },
  ];

+page("Термопрессы", 0, "../")
  ul.goods-list
    +goods-list(goods)
