include ../build/project.pug

-
  const IMG_PATH = "img/jinka_xl/";
  let goods = [
    {
      name: "Jinka XL-365",
      price: "под заказ",
      img: IMG_PATH + "jinka_xl-365.jpg",
      link: "jinka_xl/xl-365.html",
    }, 
    {
      name: "Jinka XL-721",
      price: "под заказ",
      img: IMG_PATH + "jinka_xl-721.jpg",
      link: "jinka_xl/xl-721.html",
    }, 
    {
      name: "Jinka XL-1101",
      price: "под заказ",
      img: IMG_PATH + "jinka_xl-1101.jpg",
      link: "jinka_xl/xl-1101.html",
    }, 
    {
      name: "Jinka XL-1351",
      price: "под заказ",
      img: IMG_PATH + "jinka_xl-1351.jpg",
      link: "jinka_xl/xl-1351.html",
    }, 
    {
      name: "Jinka XL-1661",
      price: "под заказ",
      img: IMG_PATH + "jinka_xl-1661.jpg",
      link: "jinka_xl/xl-1661.html",
    }, 
  ];

+page("Режущие плоттеры Jinka XL", 0, "../")
  ul.goods-list
    +goods-list(goods)