.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  text-align: center;

  &__logo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

    padding: 15px 30px;
    border: 2px solid black;
    background-color: #a99e98;
    box-shadow: 0 0 7px 0;

    &:before {
      position: absolute;
      content: "";
      z-index: -1;

      top: 9px;
      left: -36px;
      width: 0;
      height: 0;

      border-top: 30px solid #544943; 
      border-bottom: 30px solid #544943; 
      border-right: 17px solid #544943; 
      border-left: 17px solid transparent; 
    }

    &:after {
      position: absolute;
      content: "";
      z-index: -1;

      top: 9px;
      right: -36px;
      width: 0;
      height: 0;

      border-top: 30px solid #544943; 
      border-bottom: 30px solid #544943; 
      border-left: 17px solid #544943; 
      border-right: 17px solid transparent; 
    }
  }

  &__title {
    
    color: #555346;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    
  }

  &__phone {
    position: relative;
    padding: 5px 10px;

    color: white;
    background-color: #6291E4;

    &:after {
      position: absolute;
      content: "";
      top: 0;
      right: -5px;
      width: 5px;
      height: 26px;
      background-image: linear-gradient(to bottom right, #6291E4 50%, transparent 50%);
    }
  }

  &__description {
    font-size: 0.9rem;
    color: gray;
  }
}