- 
  let menuItems = [
    {
      text: "Товары",
      link: "#"
    },
    {
      text: "Комплектующие",
      link: "#"
    },
    {
      text: "Драйвера",
      link: "#"
    },
    {
      text: "Контакты",
      link: "#"
    },
    {
      text: "Видео/Фото",
      link: "#"
    },
    {
      text: "Наши клиенты",
      link: "#"
    },
    {
      text: "Инструкции",
      link: "#"
    }
  ];


mixin main-menu()
  nav.main-menu
    ul.main-menu__list
      each item in menuItems
        li.main-menu__item
          a(href=item.link)= item.text