.main-menu {

  &__list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: max-content;
  }

  &__item {
    flex-grow: 1;

    a {
      display: block;
      width: 100%;
      padding: 5px 5px;

      color: #555346;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
  
      background-color: #b5aaa4;
      background-image: linear-gradient(#b5aaa4, #ccbfb9, #b5aaa4);
      border: 1px solid black;
    }

    &_active {
      a {
        color: #25241e; 
        background-image: linear-gradient(#7b6f68, #ccbfb9, #7b6f68);
      }
    }
  }
}