-
  let menuItems = [
    {
      text: "Товары",
      link: "index.html"
    },
    {
      text: "Комплектующие",
      link: "accessories.html"
    },
    {
      text: "Драйвера",
      link: "drivers.html"
    },
    {
      text: "Видео/Фото",
      link: "video_photo.html"
    },
    {
      text: "Инструкции",
      link: "instructions.html"
    },
    {
      text: "Контакты",
      link: "contacts.html"
    },
  ];


mixin main-menu(activeTab, relativePath = "")
  nav.main-menu
    ul.main-menu__list
      each item, index in menuItems
        li(class="main-menu__item" class={'main-menu__item_active': activeTab == index})
          a(href= relativePath + item.link)= item.text
