.main-menu {

  &__list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: max-content;
    // grid-template-columns: 1fr 1fr;
  }

  &__item {
    // place-self: stretch;
    flex-grow: 1;
    padding: 5px 5px;

    background-color: #b5aaa4;
    border: 1px solid black;
    text-align: center;
    background-image: linear-gradient(#b5aaa4, #ccbfb9, #b5aaa4);

    a {
      color: #555346;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}