.photos {
  margin-bottom: -20px;

  @media screen and (min-width: $breakpoint-medium) {
    columns: 2;
  }

  &-item img {
    max-width: 100%;
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 10px;

    border: 1px solid rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);

    @media screen and (min-width: $breakpoint-medium) {
      height: auto;
    }
  }
}