include ../../build/project.pug

-
  const specs = [
    ["Режим контурной резки ", "Да"],
    ["LCD-дисплей ", "Да"],
    ["Панель управления", "Английский язык, 9 кнопок"],
    ["Тип привода", "Шаговый"],
    ["Максимальная ширина рулона, мм", "1360"],
    ["Максимальная ширина резки, мм", "1250"],
    ["Максимальная длина резки, мм", "32000"],
    ["Скорость резки, мм/с (шаг 25)", "25-500"],
    ["Давление резки, гр (шаг 25)", "25-800"],
    ["Процессор", "Микропроцессор с 16-битным ядром и 16мб флеш-память"],
    ["Повторяемость, мм ", "0,01"],
    ["Шаг движения, мм/шаг", "0,0254"],
    ["Ролик поддержки материала", "4"],
    ["Электропитание", "220±10% 50HZ"],
    ["Вес, кг", "33"],
    ["Гарантия", "1 год"],
  ];

  const package = [
    "режущий плоттер",
    "2 интерфейсных кабеля",
    "сетевой кабель",
    "инструкция по установке на русском языке",
    "программное обеспечение для установки режущего плоттера Flexi 10",
    "держатель для ножа",
    "держатель для стержня",
    "стержень шариковый",
    "напольный мобильный стенд с держателем рулона",
    "чехол",
  ];

+page("Rabbit K3 1360K", 0, "../../")
  +specs(specs)
  .delimiter
  +package(package)
