mixin page-footer(activeTab, relativePath = "")
  footer.page-footer
    +main-menu(activeTab, relativePath)
    .page-footer__additional-info
      span.page-footer__author= "Виталий М."
      span.page-footer__years ⚓ 2014-2021 
      a.page-footer__homepage-link(href="https://cpu-plotters.github.io/plotters")= "cpu-plotters.github.io"