include ../../build/project.pug

-
  const specs = [
    ["Размер упаковки и вес", "69 x 68 x 44.5 см, 35 кг"],
    ["Напряжение", "220-240 V"],
    ["Панель управления", "английский"],
    ["Мощность", "1.4 кВт"],
    ["Температура", "0/300°C"],
    ["Размер нагревателя", "40 x 60 см"],
    ["максимальный размер переноса", "40 x 60 см"],
    ["ЖК-дисплей", "Да"],
    ["Автоматический цифровой зумер", "Да"],
    ["Тип", "плоская тарелка"],
    ["Защита от предохранителей", "Да"],
  ];

  const description = "Термопресс — оборудование, которое использует тепло и давление для переноса рисунков на подложку — ткани, пластик или керамику. Эта машина популярна в бизнесе печати на футболках, кружках, значках, так как отличается низкой стоимостью запуска и высокой прибылью. Термопресс (пресс для переноса) — электроустройство, применяемое для термопереноса на различные материалы: металл, керамика, текстиль, картон, пластик, кожа. Обеспечивают более высокое качество переноса и большую износостойкость рисунка, чем утюги. Процесc термопереносар занимает меньше времени, чем термоперенос горячим воздухом в печи. Процесс термопереноса происходит под давлением рабочими поверхностями пресса с  применением нагрева вышеуказанных рабочих поверхностей. Под действием давления и повышенной температуры :изображение, предварительно напечатанное на термотрансферной бумаге переносится на носитель.";

  const IMG_PATH = "../img/heat_press/thj-45/";
  const photos = [
    {
      src: IMG_PATH + "view_above.jpg",
      width: "2312",
      height: "1300",
      alt: "View above"
    },
    {
      src: IMG_PATH + "specs.jpg",
      width: "2312",
      height: "1300",
      alt: "Specs"
    },
    {
      src: IMG_PATH + "plate_above.jpg",
      width: "2312",
      height: "1300",
      alt: "Plate above"
    },
    {
      src: IMG_PATH + "plate.jpg",
      width: "2312",
      height: "1300",
      alt: "Plate"
    },
  ];

+page("THJ-45", 0, "../../")
  +specs(specs)
  .delimiter
  +description(description)
  .delimiter
  +photos(photos)
