.goods-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px 5px;
  margin-bottom: 30px;

  // &::after {
  //   position: absolute;
  //   bottom: -18px;
  //   content: "";
  //   width: 100%;

  //   border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
  //   border-top: 1px dashed rgba(0, 0, 0, 0.35);
  // }

  @media screen and (min-width: $breakpoint-medium) {
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    gap: 50px 100px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-bottom: 20px;

    @media screen and (min-width: $breakpoint-medium) {
    
    }

    // border: 1px solid rgba(128, 106, 106, 0.35);
  }

  &__item-img {
    min-width: 200px;
    width: 200px; 
    margin-bottom: 7px;
    
    object-fit: cover;
    object-position: center;

    @media screen and (min-width: $breakpoint-medium) {
      min-width: 210px;
      width: 210px;
    }
  }

  &__item-title {
    margin-bottom: 3px;

    color: #544943;
    font-size: 1.6rem;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    text-align: center;
  }

  &__item-price {
    color: black;
    font-size: 1.3rem;
    line-height: 1.1;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    text-align: center;
  }

  &__item-status {
    margin-left: -5px;
    color: #544943;
  }
}