mixin page-header()
  header.page-header
    section.page-header__logo
      h2.page-header__title= "CPU-Plotters"
      p.page-header__description= "(плоттеры и комплектующие)"
    span.page-header__phone 8 (962) 202-10-66 &vellip;